<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <section class="my-5">
        <h3>Add New Plant</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <p th:text="${message}" th:if="${message != null}" class="alert alert-primary"></p>
                    <form method="post" th:action="@{/addNewPlant}" th:object="${plant}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="scientificName">Scientific Name</label>
                            <input type="text" id="scientificName" name="scientificName" class="form-control-file">
                        </div>
                        <div class="form-group">
                            <label for="englishName">English Name</label>
                            <input type="text" id="englishName" name="englishName" class="form-control-file">
                        </div>
                        <div class="form-group">
                            <label for="localName">Local Name</label>
                            <input type="text" id="localName" name="localName" class="form-control-file">
                        </div>
                        <div class="form-group">
                            <label for="narration">Narration</label>
                            <input type="text" id="narration" name="narration" class="form-control-file">
                        </div>
                        <div class="form-group">
                            <label for="imageFile">Plant Image</label>
                            <input type="file" id="imageFile" name="imageFile" accept="image/*"
                                class="form-control-file">
                        </div>
                        <button type="submit" class="btn">Upload Data</button>
                    </form>
                    <span th:if="${msg != null}" th:text="${msg}"></span>
                </div>
            </div>
        </div>
    </section>
</div>
</body>

</html>