<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<body>
    <div layout:fragment="content">
        <section class="my-5">
            <div class="container">
                <div class="row" style="flex-direction: row">
                    <div class="col-4">N</div>
                    <div class="col-4">M </div>
                    <div class="col-4">M</div>


                        <!--                    <div class="col-4 item" th:each="plant : ${plants}">-->
<!--                        <div class="card item-card">-->
<!--                            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">-->
<!--                            <h5 class="card-title mt-3 mb-3" th:text="${plant.scientificName}">-->
<!--                                </h5>-->
<!--                                <p th:text="${plant.englishName}"></p>-->
<!--                                <p th:text="${plant.localName}"></p>-->
<!--                                <p class="card-text" th:text="${plant.narration}"></p>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </section>
    </div>
</body>

</html>